

# IDE/project settings
.idea/
*.iml
.vscode/

# diagnostics from cursor
diagnostics/cursor

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs and junk
logs/
#*.log
#*.tmp
#*.bak
#*.csv~

# test files
test_*.txt

# diagnostics and debugging
#/debugging/

# Releases
#feedback_portal_releases/

feedback_forms/testing_versions/generated

# Portal uploads
portal_uploads
#portal_uploads/staging/
#feedback_forms/testing_versions/

# Docs output
source/production/site/

# Backups
#*.zip
#source/production_*.zip
/archive/production_zips/

# Ignore the run_all_commands.txt file so users can customize their batch commands
scripts/run_all_commands.txt

/database_snapshots