{# Jinja Macros for Web Portal #}

{% macro input_element(element,
                       size=9) %}
  {#
  Notes:
    - default size is 9 columns
    - kwargs stores any unspecified keyword arguments passed to this macro
    - diagnostic options for kwargs
      - {{ kwargs }}
      - {{ kwargs|debug or '' }}
  #}

  {#  {% if 'disabled_' in kwargs %}#}
  {#    {{ 'Disabled selected'|debug or '' }}#}
  {#  {% endif %}#}

  {% if size>= 12 %}
    {% set label_size = 12 %}
  {% else %}
    {% set label_size = 12 - size %}
  {% endif %}

  <div class='row mb-2'>
    {#    <div class="col-sm-{{ label_size }}">#}
    <div class="col-md-{{ label_size }}">
      {{ element.label(class_="col-form-label") }}
    </div>
    {#    <div class="col-sm-{{ size }}">#}
    <div class="col-md-{{ size }}">
      {% if kwargs %}
        {{ element(class_="form-control", **kwargs) }}
      {% else %}
        {{ element(class_="form-control") }}
      {% endif %}
    </div>
  </div>

  {{ list_errors(element) }}

{% endmacro %}

{% macro list_errors(element) %}
  {#  Display errors associated with an html element#}
  {% if element.errors %}
    {% for error in element.errors %}
      <div class="alert alert-danger alert-dismissible fade show">
        <strong>Invalid Input</strong> {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro error_header(wtf_form, error_count_dict) %}
  {#  Put total error count and wtf_form-level errors at top as dismissible banners#}

  {% if error_count_dict['total_error_count'] >0 %}
    {#    <div class="alert alert-danger alert-dismissible fade show">#}
    {#    <div class="alert alert-danger alert-dismissible fade show my-3">#}
    <div class="alert alert-danger alert-dismissible fade show my-3 py-2">

      <strong> {{ error_count_dict['total_error_count'] }} validation error(s) was/were detected.</strong>
      <br>Please correct entry errors where possible.
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}


  {% if error_count_dict['wtf_form_error_count'] >0 %}
    <div class="alert alert-danger alert-dismissible fade show">
      <strong> {{ error_count_dict['wtf_form_error_count'] }} wtf_form-level validation error(s) were detected:</strong>
      <ul>
        {% for error in wtf_form.errors[None] %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endif %}
{% endmacro %}

{# ─────────────────────────────────────────────
   🔧 Section Layout Defaults
───────────────────────────────────────────── #}
{#{% set card_style = "card bg-light mb-3" %}#}
{% set card_style = "card bg-light mb-3 border border-blue-gray shadow-sm" %}


{% set card_header_style = "bg-light-panel border-bottom px-3 py-2 rounded-top" %}
{% set card_header_text_class = "mb-0 text-primary fw-semibold" %}

{% macro section_open(title) %}
  <div class="{{ card_style }}">
  <div class="{{ card_header_style }}">
    <h5 class="{{ card_header_text_class }}">{{ title }}</h5>
  </div>
  <div class="card-body">
{% endmacro %}

{% macro section_close() %}
  </div>
  </div>
{% endmacro %}
