{# templates/includes/navbar.jinja #}

{# pt-5 pb-3 gives you nice pad top and pad bottom after menubar #}
{#
<div class="container pt-5">#}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      {# <a class="navbar-brand" href="{{ url_for('index') }}">Operator Portal</a>#}
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='images/carb_logo_01.jpg') }}" alt="California Air Resources Board"
             width="40" height="40">
        Methane Satellite Portal
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {#
            <li class="nav-item">#}
          {# <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>#}
          {#
            </li>
            #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Facility Feedback
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('main.og_incidence_create') }}">Create Incidence (Oil &
                Gas)</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.landfill_incidence_create') }}">Create Incidence
                (Landfill)</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.view_portal_updates') }}">Portal Updates</a></li>

              <li><a class="dropdown-item disabled" href="{{ url_for('main.incidence_update', id_=1) }}">Update
                Incidence</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Developer Utilities
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('main.show_dropdown_dict') }}">Show Dropdowns</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_database_structure') }}">Show Database
                Structure</a>
              </li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_feedback_form_structure') }}">Show Feedback Form
                Structure</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_log_file') }}">Show Log File</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.diagnostics') }}">Diagnostics</a></li>
              <li><hr class="dropdown-divider"></li>
              {% if USE_AUTH %}
                <li><a class="dropdown-item" href="{{ url_for('auth.auth_diagnostics') }}">Auth Diagnostics</a></li>
                <li><a class="dropdown-item" href="{{ url_for('auth.create_test_user') }}">Create Test User</a></li>
              {% endif %}
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Spreadsheet
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('main.upload_file') }}">Upload Feedback Spreadsheet</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.upload_file_staged') }}">Stage Feedback Spreadsheet</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.list_uploads') }}">List Uploaded Files</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item disabled" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Help
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://carb.sharepoint.com/:w:/r/teams/RDSatelliteProject/Shared%20Documents/General/Data%20Management%20Plan/CalSMP%20Plume%20Processing%20Resources.docx?d=w033362d49d444a1a837352a7a4a1be55&csf=1&web=1&e=j04CSV">
                  CalSMP Plume Processing Resources
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://carb.sharepoint.com/:w:/r/teams/RDSatelliteProject/Shared%20Documents/General/Data%20Management%20Plan/Daily%20CalSMP%20Protocol.docx?d=w9f7f6eadcfe04db5821bc23a70b7991a&csf=1&web=1&e=vEyuJy">
                  CalSMP Daily Protocol
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://tony-held-carb.github.io/feedback_portal/">
                  CalSMP Feedback Portal Source Code & Documentation
                </a>
              </li>
            </ul>
          </li>

          {#          <li class="nav-item">#}
          {#            <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
          {#          </li>#}


          {#          <li class="nav-item">#}
          {#            <a class="nav-link" href="{{ url_for('main.index') }}">Index</a>#}
          {#          </li>#}
        </ul>

        <!-- Authentication Section -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if USE_AUTH %}
            {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <span style="display: inline-block; position: relative; margin-right: 8px;">
                    <span style="display: inline-flex; justify-content: center; align-items: center; width: 32px; height: 32px; border-radius: 50%; background: #4e73df; color: #fff; font-weight: bold; font-size: 1rem;">
                      {{ current_user.email[0]|upper }}
                    </span>
                    <span style="position: absolute; bottom: 2px; right: 2px; width: 10px; height: 10px; background: #28a745; border: 2px solid #fff; border-radius: 50%;"></span>
                  </span>
                  {{ current_user.email }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{{ url_for('auth.profile') }}">Profile</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.settings') }}">Settings</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.email_preferences') }}">Email Preferences</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('auth.activity_log') }}">Activity Log</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutConfirmModal">Logout</a></li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
              </li>
            {% endif %}
          {% endif %}
        </ul>

        <!-- Logout Confirmation Modal -->
        {% if USE_AUTH %}
          <div class="modal fade" id="logoutConfirmModal" tabindex="-1" aria-labelledby="logoutConfirmModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="logoutConfirmModalLabel">Confirm Logout</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to log out?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <a href="{{ url_for('auth.logout') }}" class="btn btn-danger">Logout</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <form class="d-flex" role="search" action="{{ url_for('main.search') }}" method='POST'>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                 name="navbar_search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
