{# templates/includes/navbar.jinja #}

{# pt-5 pb-3 gives you nice pad top and pad bottom after menubar #}
{#
<div class="container pt-5">#}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      {# <a class="navbar-brand" href="{{ url_for('index') }}">Operator Portal</a>#}
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='images/carb_logo_01.jpg') }}" alt="California Air Resources Board"
             width="40" height="40">
        Methane Satellite Portal
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {#
            <li class="nav-item">#}
          {# <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>#}
          {#
            </li>
            #}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Facility Feedback
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('main.og_incidence_create') }}">Create Incidence (Oil &
                Gas)</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.landfill_incidence_create') }}">Create Incidence
                (Landfill)</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.view_portal_updates') }}">Portal Updates</a></li>

              <li><a class="dropdown-item disabled" href="{{ url_for('main.incidence_update', id_=1) }}">Update
                Incidence</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Developer Utilities
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('main.show_dropdown_dict') }}">Show Dropdowns</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_database_structure') }}">Show Database
                Structure</a>
              </li>
              <li><a class="dropdown-item" href="{{ url_for('main.show_feedback_form_structure') }}">Show Feedback Form
                Structure</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.delete_testing_range') }}">Delete Testing Range (Dev)</a></li>
              {#              <li><a class="dropdown-item" href="{{ url_for('main.show_log_file') }}">Show Log File</a></li>#}
              <li><a class="dropdown-item" href="{{ url_for('main.show_log_file', lines=1000) }}">Show Log File</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.diagnostics') }}">Diagnostics</a></li>

            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              Spreadsheet
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('main.upload_file') }}">Upload Feedback Spreadsheet</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.upload_file_staged') }}">Stage Feedback Spreadsheet</a>
              </li>
              <li><a class="dropdown-item disabled" href="{{ url_for('main.list_staged') }}">View Staged Files</a></li>
              <li><a class="dropdown-item" href="{{ url_for('main.list_uploads') }}">List Uploaded Files</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item disabled" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              CalSMP & Help
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://carb.sharepoint.com/:w:/r/teams/RDSatelliteProject/Shared%20Documents/General/Data%20Management%20Plan/CalSMP%20Plume%20Processing%20Resources.docx?d=w033362d49d444a1a837352a7a4a1be55&csf=1&web=1&e=j04CSV">
                  Plume Processing Resources
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://carb.sharepoint.com/:w:/r/teams/RDSatelliteProject/Shared%20Documents/General/Data%20Management%20Plan/Daily%20CalSMP%20Protocol.docx?d=w9f7f6eadcfe04db5821bc23a70b7991a&csf=1&web=1&e=vEyuJy">
                  Daily Protocol
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://carb.sharepoint.com/:w:/r/teams/RDSatelliteProject/Shared%20Documents/General/Plume%20Processing/Daily%20Plume%20Processing%20Log.docx?d=wc90daa47482640fd9657cccb3c4f4614&csf=1&web=1&e=SOFzex">
                  Daily Processing Log
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://carb.sharepoint.com/:x:/r/teams/RDSatelliteProject/Shared%20Documents/General/Plume%20Processing/Open%20items%20log.xlsx?d=wd554b10efa62427e959961a52d8ccd11&csf=1&web=1&e=v5ge6u">
                  Open Items Log
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="http://10.93.112.44:5003/">
                  Plume Tracker
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://internal-smdms-sdb-lb-shared-182971779.us-west-2.elb.amazonaws.com/app/dashboard">
                  Contact Manager
                </a>
              </li>
              <li>
                <a class="dropdown-item" target="_blank"
                   href="https://tony-held-carb.github.io/feedback_portal/">
                  Feedback Portal Source Code & Documentation
                </a>
              </li>
            </ul>
          </li>

          {#          <li class="nav-item">#}
          {#            <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
          {#          </li>#}


          {#          <li class="nav-item">#}
          {#            <a class="nav-link" href="{{ url_for('main.index') }}">Index</a>#}
          {#          </li>#}
        </ul>

        {# Search bar has not been implemented yet, so it is a space hog to have it up and not do anything, consider implementing in the future #}
        {#        <form class="d-flex" role="search" action="{{ url_for('main.search') }}" method='POST'>#}
        {#          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"#}
        {#                 name="navbar_search">#}
        {#          <button class="btn btn-outline-success" type="submit">Search</button>#}
        {#        </form>#}
      </div>
    </div>
  </nav>
</div>
