
{% extends 'base.html' %}
{% set form_id = "oil-and-gas-form" %}

{% if crud_type=="update" %}
  {% set title= "Update Feedback Incidence " ~ wtf_form['id_incidence'].data %}
  {% set banner_title= "Operator Feedback Form (Oil & Gas)" %}
{% else %}
  {% set title= "New Feedback" %}
  {% set banner_title= "Operator Feedback Form (Oil & Gas)" %}
{% endif %}

{% block title %}
  {{ title }}
{% endblock %}

{% block footer_js %}
  <script src="{{ url_for('static', filename='js/unsaved_changes.js') }}"></script>
{% endblock %}

{% block content_1 %}
  <!-- page content remains unchanged -->
{% endblock %}
