
{% extends 'base.html' %}
{% set form_id = "landfill-form" %}

{% if crud_type == "update" %}
  {% set title = "Update Incidence " ~ wtf_form['id_incidence'].data %}
  {% set banner_title = "Operator Feedback Form (Landfill)" %}
{% else %}
  {% set title = "New Feedback" %}
  {% set banner_title = "Operator Feedback Form (Landfill)" %}
{% endif %}

{% block title %}
  {{ title }}
{% endblock %}

{% block footer_js %}
  <script src="{{ url_for('static', filename='js/unsaved_changes.js') }}"></script>
{% endblock %}

{% block content_1 %}
  <!-- page content remains unchanged -->
{% endblock %}
