{% extends "base.html" %}

{% block content %}
<h1 class="mt-4">All Notes</h1>
<a href="{{ url_for('new_note') }}" class="btn btn-primary mb-4">Create New Note</a>

<ul class="list-group">
  {% for note in notes %}
  <li class="list-group-item">
    <a href="{{ url_for('note_detail', note_id=note.id) }}">{{ note.title }}</a>
    <small class="float-right">Created by {{ note.username }} on {{ note.created_at.strftime('%Y-%m-%d %H:%M:%S')
      }}</small>
  </li>
  {% else %}
  <li class="list-group-item">No notes yet!</li>
  {% endfor %}
</ul>
{% endblock %}
