{% extends 'base.html' %}
{% set form_id = "landfill-form" %}

{% if crud_type == "update" %}
  {% set title = "Update Incidence " ~ id_incidence %}
  {% set banner_title = "Operator Feedback Form (Landfill)" %}
{% else %}
  {% set title = "New Feedback" %}
  {% set banner_title = "Operator Feedback Form (Landfill)" %}
{% endif %}

{% block title %}
  {{ title }}
{% endblock %}

{% block footer_js %}
  <script src="{{ url_for('static', filename='js/form_change_tracker.js') }}"></script>
{% endblock %}

{% block content_1 %}

  <div class="container-fluid post-nav-buffer">

    <!-- Sticky Header with Validate Button -->
    <div
        class="sticky-diagnostic-header bg-main-header text-white py-3 px-3 rounded d-flex justify-content-between align-items-start">
      <h2 class="mb-0">{{ banner_title }}</h2>
      <div class="d-flex align-items-center gap-2">
        <button id="unsaved-indicator"
                class="btn btn-warning btn-sm fw-semibold py-1 px-2 d-none"
                type="button"
                aria-disabled="true"
                style="pointer-events: none; opacity: 1;">
          Unsaved changes
        </button>

        <button form="landfill-form"
                type="submit"
                name="submit_button"
                value="validate_and_submit"
                class="btn btn-success btn-sm fw-semibold">
          Save Changes
        </button>
      </div>

    </div>

    {{ macros.error_header(wtf_form, error_count_dict) }}

    <!-- White Form Wrapper -->
    <div class="bg-white border border-blue-gray rounded shadow-sm mt-3 mb-3 pt-4 pb-2 ps-3 pe-3">

      {{ macros.section_open("Section 1. Instructions") }}

      <ul class="mb-0">
        <li>
          Please provide information regarding methane emissions detected by satellite at or near your facility.
        </li>
        <li>Not all sections and fields may apply to your facility for the suspected plume.</li>
        <li>If a data request does not apply, leave the response blank (or "Please Select" if it is a drop-down
          field).
        </li>
        <li>All dates and time should be California local.</li>
        <li>
          If there is additional information you would like to provide that is not requested in this form,
          please use the supplemental Section 7 for additional comments.
        </li>
        <li>
          <a href="https://ww2.arb.ca.gov/our-work/programs/landfill-methane-regulation"
             target="_blank"
             rel="noopener noreferrer"
          >
            Click here for the latest landfill methane regulations (LMR)
          </a>
        </li>
      </ul>

      {{ macros.section_close() }}

      <form id="landfill-form" method="post" novalidate>
        {{ wtf_form.csrf_token }}

        {{ macros.section_open("Section 2. Emission Detection Information Provided by CARB") }}

        <div class="mb-3 row">
          <label for="id_incidence" class="col-sm-4 col-form-label">1. Incidence/Emission ID</label>
          <div class="col-sm-8">
            {% if id_incidence %}
              <div class="form-control d-flex align-items-center" style="background-color: #e9ecef;">
                <a href="http://10.93.112.44:5003/incidence/{{ id_incidence }}"
                   style="color: #20625e;" class="fw-semibold text-decoration-none"
                   target="_blank" rel="noopener noreferrer">
                  Plume Tracker Incidence {{ id_incidence }} Link
                </a>
              </div>
            {% else %}
              <span class="form-control-plaintext text-muted">N/A</span>
            {% endif %}
          </div>
        </div>


        {{ macros.input_element(wtf_form.id_plume, size=8, placeholder="ID as Integer") }}
        {{ macros.input_element(wtf_form.observation_timestamp, size=8) }}
        {{ macros.input_element(wtf_form.lat_carb, size=8,
              placeholder="Optional valid CA latitude (5 digits of precision preferred).") }}
        {{ macros.input_element(wtf_form.long_carb, size=8,
              placeholder="Optional valid CA longitude (5 digits of precision preferred).") }}
        {{ macros.input_element(wtf_form.id_message, size=8, placeholder="Optional CARB Message ID") }}

        {{ macros.section_close() }}

        {{ macros.section_open("Section 3. Facility Information") }}

        {{ macros.input_element(wtf_form.facility_name, placeholder="e.g., Facility Name") }}
        {{ macros.input_element(wtf_form.id_arb_swis, placeholder="Optional SWIS ID") }}
        {{ macros.input_element(wtf_form.contact_name, placeholder="e.g., Contact Name") }}
        {{ macros.input_element(wtf_form.contact_phone, placeholder="e.g., (555) 555-5555") }}
        {{ macros.input_element(wtf_form.contact_email, placeholder="e.g., your_name@server.com") }}

        {{ macros.section_close() }}

        {{ macros.section_open("Section 4. Follow-up Ground Monitoring Results") }}

        {{ macros.input_element(wtf_form.inspection_timestamp, size=6) }}
        {{ macros.input_element(wtf_form.instrument, size=6,
              placeholder="(e.g., Fisher Scientific TVA2020; RKI Multigas Analyzer Eagle 2; TDL)") }}
        {{ macros.input_element(wtf_form.emission_identified_flag_fk, size=6) }}
        {{ macros.input_element(wtf_form.additional_activities, size=12, rows=3, placeholder="") }}

        {{ macros.section_close() }}

        {{ macros.section_open("Section 5. Detailed Ground Monitoring Results") }}

        {{ macros.input_element(wtf_form.initial_leak_concentration, size=6,
              placeholder="e.g., 123.4") }}
        {{ macros.input_element(wtf_form.lat_revised, size=6,
              placeholder="Optional valid CA latitude with 5 digits of precision).") }}
        {{ macros.input_element(wtf_form.long_revised, size=6,
              placeholder="Optional valid CA longitude with 5 digits of precision).") }}
        {{ macros.input_element(wtf_form.emission_type_fk, size=6) }}
        {{ macros.input_element(wtf_form.emission_location, size=6) }}
        {{ macros.input_element(wtf_form.emission_location_notes, size=12, rows=3,
              placeholder="Description of the location selected above.") }}
        {{ macros.input_element(wtf_form.emission_cause, size=6) }}
        {{ macros.input_element(wtf_form.emission_cause_secondary, size=6) }}
        {{ macros.input_element(wtf_form.emission_cause_tertiary, size=6) }}
        {{ macros.input_element(wtf_form.emission_cause_notes, size=12, rows=3,
              placeholder="Additional cause details.") }}

        {{ macros.section_close() }}

        {{ macros.section_open("Section 6. Follow-up Actions") }}

        {{ macros.input_element(wtf_form.mitigation_actions, size=12, rows=3,
              placeholder="Mitigation actions details") }}
        {{ macros.input_element(wtf_form.mitigation_timestamp, size=6) }}
        {{ macros.input_element(wtf_form.re_monitored_timestamp, size=6) }}
        {{ macros.input_element(wtf_form.re_monitored_concentration, size=6,
              placeholder="e.g., 123.4") }}
        {{ macros.input_element(wtf_form.included_in_last_lmr, size=3) }}
        {{ macros.input_element(wtf_form.included_in_last_lmr_description, size=12, rows=3,
              placeholder="Description") }}
        {{ macros.input_element(wtf_form.planned_for_next_lmr, size=3) }}
        {{ macros.input_element(wtf_form.planned_for_next_lmr_description, size=12, rows=3,
              placeholder="Description") }}

        {{ macros.section_close() }}

        {{ macros.section_open("Section 7. Supplemental") }}

        {{ macros.input_element(wtf_form.last_surface_monitoring_timestamp, size=6) }}
        {{ macros.input_element(wtf_form.last_component_leak_monitoring_timestamp, size=6) }}
        {{ macros.input_element(wtf_form.additional_notes, size=12, rows=3) }}

        {{ macros.section_close() }}

        {{ macros.section_open("Section A. CARB Staff Only") }}
        {{ macros.input_element(wtf_form.carb_notes, size=12, rows=3) }}
        {{ macros.section_close() }}

      </form>
    </div>
  </div>
{% endblock %}
