{% extends 'base.html' %}


{% block content_1 %}

  <div class="container-fluid post-nav-padding mb-2">
    <h2 class="">{% block title %}Operator Feedback Incidence List{% endblock %}</h2>
  </div>
  <div class="container-fluid bg-image-01 mb-3 pt-1 ">

    {% for model_row in model_rows %}


      <div class="card bg-light mb-3" style="max-width: 24rem;">
        <div class="card-header">
          <a href="{{ url_for('main.incidence_update', id_=model_row['id_incidence']) }}">
            Update Incidence # {{ model_row['id_incidence'] }} </a>
        </div>

        <div class="card-body">
          <h5 class="card-title">

            {% if model_row['source_id'] %}
              Source ID: {{ model_row['source_id'] }}
            {% else %}
              {% if model_row['misc_json']['facility_name'] is defined %}
                Facility Name: {{ model_row['misc_json']['facility_name'][0:30] }}
              {% endif %}
            {% endif %}


          </h5>
          <p class="card-text">
            {# {% if model_row['description'] %}#}
            {# {{ model_row['description'][0:75] }}#}
            {# {% endif %}#}

            {% if model_row['description'] %}
              {{ model_row['description'][0:75] }}
            {% else %}
              {% if model_row['misc_json']['observation_timestamp'] is defined %}
                Plume Observed: {{ model_row['misc_json']['observation_timestamp']|repr_datetime_to_string }}
              {% endif %}
            {% endif %}
          </p>

          <button type="button"
                  class="btn btn-danger btn-sm"
                  onclick="setupDeleteModal('{{ url_for('main.incidence_delete', id_=model_row['id_incidence']) }}')">
            Delete Feedback Form
          </button>


        </div>
      </div>
    {% endfor %}
    {#
  <div class="col-sm-6">#}
    {# <img src="{{ url_for('static', filename='images/clipboard_02.jpg') }}" alt="clipboard" #}
    {# class="img-responsive sticky-top float-start">#}
    {#
  </div>
  #}
  </div>

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form method="POST" id="deleteConfirmForm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteConfirmLabel">Confirm Deletion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>This action is irreversible.</p>
            <p>To confirm deletion, type <strong>shazam</strong>:</p>
            <input type="text" class="form-control" id="deleteConfirmInput" required>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}
