{% extends 'base.html' %}

{#Formatting settings#}
{% set card_style="card bg-light mb-3" %}
{% set card_header_style="card-header text-bg-primary" %}

{% if crud_type=="update" %}
{% set title= "Update Incidence " ~ wtf_form['id_incidence'].data %}
{#  {% set banner_title= "Update Operator Feedback Form " ~ wtf_form['id_incidence'].data %}#}
{% set banner_title= "Operator Feedback Form (Landfill)" %}
{% else %}
{% set title= "New Feedback" %}
{#  {% set banner_title= "Create New Operator Feedback Form" %}#}
{% set banner_title= "Operator Feedback Form (Landfill)" %}
{% endif %}

{% block title %}
{{ title }}
{% endblock %}

{% block content_1 %}

{#  <p>The form type is: {{ crud_type }}</p>#}
{#  <p>{{ wtf_form['id_incidence']|debug }}</p>#}
{#  <p>{{ wtf_form['id_incidence'].data|debug }}</p>#}

{#  <p>{{ wtf_form|debug }}</p>#}
{#  <p>{{ error_count_dict|debug }}</p>#}

{#
<div class="container-fluid bg-image-02 pt-3">#}
  {#
  <div class="container-fluid pt-3" style="background-color:tan;">#}
    <div class="container-fluid post-nav-padding bg-secondary" style="min-width: 300px;">

      <div class="container-fluid mb-3 pt-1 ">

        <div class="mb-2 p-3 bg-success text-white rounded">
          <h1>{% block banner_title %}
            {{ banner_title }}
            {% endblock %}</h1>

          {% block banner_subtitle %}
          {% endblock %}
        </div>

        {{ macros.error_header(wtf_form, error_count_dict) }}

        <div class="{{ card_style }}">
          <div class="{{ card_header_style }}">
            <h3>Section 1. Instructions</h3>
          </div>
          <div class="card-body">

            <ul class="mb-0">
              <li>
                Please provide information regarding methane emissions detected by satellite at or near your facility.
              </li>
              <li>Not all sections and fields may apply to your facility for the suspected plume.</li>
              <li>If a data request does not apply, leave the response blank (or 'Please Select' if it is a drop down
                field).
              </li>
              <li>All dates and time should be California local.</li>
              <li>
                If there is additional information you would like to provide that is not requested in this form,
                please use the supplemental Section 7 for additional comments.
              </li>
              <li>
                <a href="https://ww2.arb.ca.gov/our-work/programs/landfill-methane-regulation"
                   target="_blank"
                   rel="noopener noreferrer"
                >
                  Click here for the latest landfill methane regulations (LMR)
                </a>
              </li>
            </ul>

          </div>
        </div>

        <form method="post" novalidate>
          {{ wtf_form.csrf_token }}

          <div class="{{ card_style }}">
            <div class="{{ card_header_style }}">
              <h3>Section 2. Emission Detection Information Provided by CARB </h3>
            </div>
            <div class="card-body">

              {{ macros.input_element(wtf_form.id_incidence, size=8, placeholder="ID as Integer") }}
              {{ macros.input_element(wtf_form.id_plume, size=8, placeholder="ID as Integer") }}
              {{ macros.input_element(wtf_form.observation_timestamp, size=8) }}
              {{ macros.input_element(wtf_form.lat_arb, size=8, placeholder="Optional valid CA latitude (5 digits of precision preferred).") }}
              {{ macros.input_element(wtf_form.long_arb, size=8, placeholder="Optional valid CA longitude (5 digits of precision preferred).") }}
              {{ macros.input_element(wtf_form.id_message, size=8, placeholder="Optional CARB Message ID") }}
            </div>
          </div>

          <div class="{{ card_style }}">
            <div class="{{ card_header_style }}">
              <h3>Section 3. Facility Information</h3>
            </div>
            <div class="card-body">

              {{ macros.input_element(wtf_form.facility_name) }}
              {{ macros.input_element(wtf_form.id_arb_swis, placeholder="Optional SWIS ID") }}
              {{ macros.input_element(wtf_form.contact_name, placeholder="Contact Name") }}
              {{ macros.input_element(wtf_form.contact_phone, placeholder="(555) 555-5555") }}
              {{ macros.input_element(wtf_form.contact_email, placeholder="your_name@server.com") }}

            </div>
          </div>

          <div class="{{ card_style }}">
            <div class="{{ card_header_style }}">
              <h3>Section 4. Follow-up Ground Monitoring Results</h3>
            </div>
            <div class="card-body">

              {{ macros.input_element(wtf_form.inspection_timestamp, size=6) }}
              {{ macros.input_element(wtf_form.instrument, size=6, placeholder="(e.g., Fisher Scientific TVA2020; RKI
              Multigas Analyzer Eagle 2; TDL)") }}
              {{ macros.input_element(wtf_form.emission_identified_flag_fk, size=6) }}
              {{ macros.input_element(wtf_form.additional_activities, size=12, rows=3, placeholder="") }}
            </div>
          </div>

          <div class="{{ card_style }}">
            <div class="{{ card_header_style }}">
              <h3>Section 5. Detailed Ground Monitoring Results</h3>
            </div>
            <div class="card-body">
              {{ macros.input_element(wtf_form.initial_leak_concentration, size=6, placeholder="For example: 123.4") }}
              {{ macros.input_element(wtf_form.lat_revised, size=6, placeholder="Optional valid CA latitude with 5
              digits of precision).") }}
              {{ macros.input_element(wtf_form.long_revised, size=6, placeholder="Optional valid CA longitude with 5
              digits of precision).") }}
              {{ macros.input_element(wtf_form.emission_type_fk, size=6, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.emission_location, size=6) }}
              {{ macros.input_element(wtf_form.emission_location_notes, size=12, rows=3, placeholder="Description of the
              location selected above.") }}
              {{ macros.input_element(wtf_form.emission_cause, size=6, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.emission_cause_secondary, size=6, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.emission_cause_tertiary, size=6, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.emission_cause_notes, size=12, rows=3, placeholder="Additional cause
              details.") }}
            </div>
          </div>

          <div class="{{ card_style }}">
            <div class="{{ card_header_style }}">
              <h3> Section 6. Follow-up Actions</h3>
            </div>
            <div class="card-body">
              {{ macros.input_element(wtf_form.mitigation_actions, size=12, rows=3, placeholder="Mitigation actions
              details") }}
              {{ macros.input_element(wtf_form.mitigation_timestamp, size=6) }}
              {{ macros.input_element(wtf_form.re_monitored_timestamp, size=6) }}
              {{ macros.input_element(wtf_form.re_monitored_concentration, size=6, placeholder="For example: 123.4") }}
              {{ macros.input_element(wtf_form.included_in_last_lmr, size=3, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.included_in_last_lmr_description, size=12, rows=3,
              placeholder="Description") }}
              {{ macros.input_element(wtf_form.planned_for_next_lmr, size=3, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.planned_for_next_lmr_description, size=12, rows=3,
              placeholder="Description") }}
            </div>
          </div>

          <div class="{{ card_style }}">
            <div class="{{ card_header_style }}">
              <h3>Section 7. Supplemental</h3>
            </div>
            <div class="card-body">
              {{ macros.input_element(wtf_form.last_surface_monitoring_timestamp, size=6) }}
              {{ macros.input_element(wtf_form.last_component_leak_monitoring_timestamp, size=6, placeholder="TBD") }}
              {{ macros.input_element(wtf_form.additional_notes, size=12, rows=3) }}
            </div>
          </div>

          <button type="submit" name="submit_button" value="validate_and_submit" class="btn btn-success m-3 btn-lg">
            Validate & Submit
          </button>
          {#
          <button type="submit" name="submit_button" value="update_incidence_status" class="btn btn-success m-3 btn-lg">
            #}
            {# Update Incidence Status#}
            {#
          </button>
          #}

        </form>
      </div>
    </div>
    {% endblock %}
