{% extends 'base.html' %}

{% block title %}
  File List
{% endblock %}

{% block header_css_and_js %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/drag_and_drop.css') }}">
  <script defer src="{{ url_for('static', filename='js/drag_and_drop.js') }}"></script>
{% endblock %}

{% block content_1 %}
  <div class="container-fluid post-nav-padding mb-2">

    <h1 class="drag-and-drop-h1">Uploaded Files</h1>
    <a class="drag-and-drop-a mt-3 mb-3" href="{{ url_for('main.upload_file') }}">Upload New File</a>
    <ul class="drag-and-drop-ul">
      {% for file in files %}
        <li class="drag-and-drop-li">
          <a href="{{ url_for('static', filename="uploads/" + file) }}"> {{ file }} </a>
        </li>
      {% endfor %}
    </ul>

  </div>
{% endblock %}