{% extends 'base.html' %}

{#Formatting settings#}
{% set card_style="card bg-light mb-3" %}
{% set card_header_style="card-header text-bg-primary" %}

{#
You can tell if a form is an update form or a create form based on whether wtf_form['id_feedback_form'].data is truthy
Since a newly created SQLAlchemy object won't have a primary key, but one from a query will.
#}
{#{% if crud_type=="update" %}#}
{#  {% set title= "Update Feedback " ~ wtf_form['id_feedback_form'].data %}#}
{#  {% set banner_title= "Update Operator Feedback Form " ~ wtf_form['id_feedback_form'].data %}#}
{#  {% set banner_title= "Operator Feedback Form" %}#}
{#{% else %}#}
{#  {% set title= "New Feedback" %}#}
{#  {% set banner_title= "Create New Operator Feedback Form" %}#}
{#  {% set banner_title= "Operator Feedback Form" %}#}
{#{% endif %}#}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}

  <div class="container-fluid neutral-background post-nav-buffer" style="min-width: 300px;">

    <div class="container-fluid mb-3 pt-1 ">

      <div class="mb-2 p-3 bg-secondary text-white rounded">
        <h1>{% block banner_title %}
          {{ banner_title }}
        {% endblock %}</h1>

        <p>{% block banner_subtitle %}
          CARB admin status update and notes.
        {% endblock %}</p>
      </div>

      {{ macros.error_header(wtf_form, error_count_dict) }}

      <form method="post" novalidate>
        {{ wtf_form.csrf_token }}

        <div class="{{ card_style }}">
          <div class="{{ card_header_style }}">
            <h3>Section 01</h3>
          </div>
          <div class="card-body">
            Contents
          </div>
        </div>

        <div class="{{ card_style }}">
          <div class="{{ card_header_style }}">
            <h3>Section 02</h3>
          </div>
          <div class="card-body">
            Contents
          </div>
        </div>

        <div class="{{ card_style }}">
          <div class="{{ card_header_style }}">
            <h3>Section 03</h3>
          </div>
          <div class="card-body">
            Contents
          </div>
        </div>


        <button type="submit" name="submit_button" value="Save Changes" class="btn btn-info m-3 btn-lg">
          Save Changes
        </button>

      </form>
    </div>
  </div>
{% endblock %}
